@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&display=swap');

html {
    background-color: #f1f5f9;
    font-family: 'Montserrat', sans-serif;
}

/* CARD */

.card__components {
    display: grid;
    justify-items: center;
    grid-template-columns: repeat(4, 1fr);
}

.text-center {
    text-align: center;
}

.card {
    /* border: 2px solid black; */
    width: 20rem;
    border-radius: 0.5rem;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.card__picture {
    /* padding: 5px; */
    width: inherit;
    object-fit: contain;
    /* border-radius: 10px; */
}

.card__header {
    padding: 1rem 1.5rem;
}

small {
    color: #707070;
}

.bold {
    font-weight: bold;
}

.card__body {
    padding: 1rem 1.5rem;
}

.card__footer {
    padding: 1rem 1.5rem;
    display: flex;
}

.card__button {
    text-decoration: none;
    font-weight: bold;
    color: blue;
    cursor: pointer;
    margin-right: 5px;
}

.card__icon {
    margin-left: 5px;
    color: #616161;
}

.remove__element {
    display: none;
}

.hide__element {
    visibility: hidden;
}

/* HR */

.hr {
    color: #707070;
    margin: 3rem 0;
    border: 0;
    border-top: 0.1px solid #707070;
    border-radius: 25%;
}

/* BADGE */

.badge__components {
    text-align: center;
}

.padding-bottom {
    padding-bottom: 2rem;
}

.wrapper {
    position: relative;
    display: inline-block;
    margin: 10px;
}

.badge {
    display: inline-block;
    width: 20px;
    height: 20px;
    text-align: center;
    font-weight: bold;
    background-color: #ff4081;
    color: white;
    border-radius: 50%;
    padding: 2px;
    position: absolute;
    top: -20px;
    right: -20px;
}

.badge-left {
    top: -15px;
    left: -10px;
    right: none;
}

.badge-sm {
    width: 15px;
    height: 15px;
    font-size: small;
    /* top: -15px;
    right: -15px; */
}

.badge-lg {
    width: 25px;
    height: 25px;
    font-size: large;
    /* top: -25px;
    right: -25px; */
}

.btn {
    text-align: center;
    font-weight: bold;
    background-color: #3f51b5;
    color: white;
    border-radius: 5px;
    padding: 10px;
    border: none;
}

.relative {
    position: relative;
}

/* SNACKBAR */

.snackbar {
    display: flex;
    justify-content: space-between;
    background-color: #333333;
    margin: 0 auto;
    width: 25rem;
    color: white;
    padding: 0 10px;
}

.link {
    font-weight: bold;
    color: #b780fb;
    text-decoration: none;
}

.pointer {
    cursor: pointer;
}

/* CHIP */

.chip__basic {
    display: flex;
    flex-wrap: wrap;
    width: 15rem;
    margin: 0 auto;
}

.chip--stacked {
    flex-direction: column;
}

.chip {
    background-color: #d0d0d0;
    padding: 10px;
    border: none;
    border-radius: 20px;
    margin: 5px;
}

.chip:hover {
    background-color: #c4c4c4;
}

.close__button {
    cursor: pointer;
}

/* DRAWER */

.drawer__component {
    width: 15rem;
    border-radius: 0.5rem;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    margin: 0 auto;
    padding: 1rem;
}

.drawer__inbox,
.drawer__star,
.drawer__sent,
.drawer__drafts {
    display: flex;
    gap: 2rem;
    border: 2x solid black;
    cursor: pointer;
    padding: 10px;
}

.drawer__inbox:hover,
.drawer__star:hover,
.drawer__sent:hover,
.drawer__drafts:hover {
    background-color: #e5d5fc;
    border-radius: 10px;
}

/* HEADER */

.header__standard {
    display: flex;
    gap: 2rem;
    width: 40rem;
    margin: 0 auto;
    background-color: #6200ee;
    color: white;
    align-items: center;
    padding: 0 20px;
    font-weight: bold;
}

.header__text {
    flex-grow: 1;
}

.header__utilities {
    display: flex;
    justify-content: space-between;
    flex-basis: 5rem;
}

.icon {
    cursor: pointer;
}

.icon:hover {
    opacity: 0.5;
}

/* MODAL */

.modal__component {
    width: 15rem;
    border-radius: 0.5rem;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    padding: 1rem;
    margin: 0 auto;
    z-index: 1;
    opacity: 0;
    background-color: white;
}

.modal__component.active {
    opacity: 1;
}

.modal__body {
    height: 3rem;
}

.modal__footer {
    display: flex;
    justify-content: flex-end;
    gap: 1rem;
}

.center {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.modal__button {
    width: 10rem;
    margin: auto;
    text-align: center;
}

/* TAB */

.tab__component {
    width: 50rem;
    margin: auto;
    border: 2px solid black;
}

[data-tab-content] {
    display: none;
}

.active[data-tab-content] {
    display: block;
}

.tabs {
    padding: 10px;
    list-style: none;
    display: flex;
    justify-content: space-between;
    cursor: pointer;
}

.li {
    display: inline-block;
    flex-grow: 1;
}

.btn-lg {
    width: 15rem;
}
